@import 'src/_styleVariables'

.cards
  position: relative
  width: $cards_cmp_w
  border-radius: $main_bdrs
  background-color: $main_color
  padding: $cards_cmp_vrt_p $cards_cmp_hrz_p
  overflow: auto

.list
  height: 100%
  overflow: auto

@media (max-width: 1210px)
  .cards
    width: $cards_cmp_w_1210

@media (max-width: 992px)
  .cards
    width: $cards_cmp_w_992

@media (max-width: 768px)
  .cards
    width: $cards_cmp_w_768
    padding: $cards_cmp_vrt_p_768 $cards_cmp_hrz_p
